<header class="header">
  <span class="header__title">{{ "title" | translate }}</span>
  <button (click)="(throttleGetData)" class="refresh">
    {{ "refresh" | translate }}
  </button>
  <select #langSelect (change)="translate.use(langSelect.value)">
    <option
      *ngFor="let lang of translate.getLangs()"
      [value]="lang"
      [selected]="lang === translate.currentLang"
      (click)="getData()"
    >
      {{ lang }}
    </option>
  </select>
</header>

<main class="main">
  <div *ngIf="isError">{{ "error" | translate }}</div>

  <div *ngIf="!weatherData && !isError" class="loader"></div>

  <div class="main__wrapper" *ngIf="weatherData && !isError">
    <div class="weather">
      <span>Maribor</span>
      <span>{{ "acquired" | translate }} {{ currentDate() }}</span>
    </div>
    <div class="info">
      <span class="info__title">{{ "info.current" | translate }}</span>
      <div>
        <span *ngFor="let temp of weatherData" class="temp__text"
          >{{ getTempInCelsius(temp.main.temp) | number : "1.0-0" }}°
        </span>
      </div>
      <span class="info__title">{{ "info.description" | translate }}</span>
      <div>
        <span *ngFor="let temp of weatherData" class="temp__text"
          >{{ temp.weather[0].description }}
        </span>
      </div>
      <span class="info__title">{{ "info.range" | translate }}</span>
      <div>
        <span *ngFor="let temp of weatherData" class="temp__text"
          >{{ getTempInCelsius(temp.main.temp_min) | number : "1.0-0" }}°/{{
            getTempInCelsius(temp.main.temp_max) | number : "1.0-0"
          }}°
        </span>
      </div>
    </div>
  </div>
</main>
