<header class="header"></header>

<main class="main">
  <div class="main__wrapper">
    <div class="weather">
      <span>Maribor</span>
      <span>pridobljeno 11.7.2023</span>
    </div>
    <div class="info">
      <span class="info__text">Trenutna temperatura</span>
      <span class="info__text">Opis</span>
      <span class="info__text">Min/max</span>
    </div>
    <div class="temp">
      <div class="temp__row">
        <span class="temp__text">13° </span>
        <span class="temp__text">13° </span>
        <span class="temp__text">13° </span>
        <span class="temp__text">13° </span>
        <span class="temp__text">13° </span>
      </div>
      <div class="temp__row">
        <span class="temp__text">blah </span>
        <span class="temp__text">blah </span>
        <span class="temp__text">blah </span>
        <span class="temp__text">blah </span>
        <span class="temp__text">blah </span>
      </div>
      <div class="temp__row">
        <span class="temp__text">10°/18° </span>
        <span class="temp__text">10°/18° </span>
        <span class="temp__text">10°/18° </span>
        <span class="temp__text">10°/18° </span>
        <span class="temp__text">10°/18° </span>
      </div>
    </div>
  </div>
</main>
