<header class="header"></header>

<main class="main">
  <div *ngIf="isError">Prišlo je do napake</div>

  <div *ngIf="!weatherData && !isError" class="loader"></div>

  <div class="main__wrapper" *ngIf="weatherData && !isError">
    <div class="weather">
      <span>Maribor</span>
      <span>pridobljeno {{ currentDate }}</span>
    </div>
    <div class="info">
      <span class="info__text">Trenutna temperatura</span>
      <span class="info__text">Opis</span>
      <span class="info__text">Min/max</span>
    </div>
    <div class="temp">
      <div class="temp__row">
        <span *ngFor="let temp of weatherData" class="temp__text"
          >{{ getTempInCelsius(temp.main.temp) | number : "1.0-0" }}°
        </span>
      </div>
      <div class="temp__row">
        <span *ngFor="let temp of weatherData" class="temp__text"
          >{{ temp.weather[0].description }}
        </span>
      </div>
      <div class="temp__row">
        <span *ngFor="let temp of weatherData" class="temp__text"
          >{{ getTempInCelsius(temp.main.temp_min) | number : "1.0-0" }}°/{{
            getTempInCelsius(temp.main.temp_max) | number : "1.0-0"
          }}°
        </span>
      </div>
    </div>
  </div>
</main>
